/* 
# #aa0044
# #4d4d4d */
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&family=Noto+Sans+Mono:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* CSS rules to specify families */
.rst-content .linenodiv pre, .rst-content div[class^="highlight"] pre, .rst-content pre.literal-block {
  font-family: 'Noto Sans Mono', monospace;
  font-size: 15px;
  line-height: 1.4;
}

.rst-content code, .rst-content tt, .code, .kbd, .pre, .samp {
  font-family: 'Noto Sans Mono', monospace;
  font-weight: 400;
  font-size: 16px;
}

html.writer-html4 .rst-content dl:not(.docutils) .descclassname, html.writer-html4 .rst-content dl:not(.docutils) .descname, html.writer-html4 .rst-content dl:not(.docutils) .sig-name, html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple) .descclassname, html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple) .descname, html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple) .sig-name {
  font-family: 'Noto Sans Mono', monospace;
  font-weight: 400;
  font-size: 16px;
}

html.writer-html4 .rst-content dl:not(.docutils) code, html.writer-html4 .rst-content dl:not(.docutils) tt, html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple) code, html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple) tt {
  font-weight: 400;
}

html.writer-html4 .rst-content dl:not(.docutils) code.descname, html.writer-html4 .rst-content dl:not(.docutils) tt.descname, html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple) code.descname, html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple) tt.descname {
  font-weight: 600;
}

.rst-content .toctree-wrapper>p.caption, h1, h2, h3, h4, h5, h6, legend {
  margin-top: 0;
  font-weight: 600;
  font-family: 'Jura', sans-serif;
  letter-spacing: 0.06rem;
  color: #aa0044;
}

body, p {
  font-family: 'Jura', sans-serif;
  font-weight: 400;
  color: #4d4d4d;
  font-size: 18px;
}

.wy-side-nav-search {
  background-color: #aa0044;
}

a {
  color: #6886b3;
}

a:hover {
  color: #7394c6;
}

a:visited {
  color: #546d93;
}

a:active {
  color: #6886b3;
}

.wy-menu-vertical header, .wy-menu-vertical p.caption {
  color: #6886b3;
}

.wy-side-nav-search input[type="text"] {
  width: 100%;
  border-radius: 0px;
  padding: 6px 12px;
  border-color: transparent;
}

.wy-side-nav-search .wy-dropdown>a, .wy-side-nav-search>a {
  color: #ffffff;
}

.wy-menu-vertical a {
  color: #d9d9d9;
}

.wy-menu-vertical a:active {
  background-color: #6886b3;
  cursor: pointer;
  color: #fff;
}

html.writer-html4 .rst-content dl:not(.docutils)>dt, html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple)>dt {
  display: table;
  margin: 6px 0;
  margin-top: 6px;
  font-size: 90%;
  line-height: normal;
  background: #e9ebee;
  color: #aa0044;
  border-top: 3px solid #6886b3;
  padding: 6px;
  position: relative;
}

.sphx-glr-thumbcontainer:hover {
  border: solid #6886b3 1px;
  box-shadow: 0 0 15px rgba(142, 176, 202, 0.5);
}

div.sphx-glr-download a {
  background-color: #f3f6f6 !important;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, .1);
  color: #000;
  display: inline-block;
  font-weight: bold;
  padding: 1ex;
  text-align: center;
  background-image: none !important;
  box-shadow: inset 0 1px 2px -1px hsla(0, 0%, 100%, .5), inset 0 -2px 0 0 rgba(0, 0, 0, .1);
}

footer p {
  margin-bottom: 12px;
  font-size: small;
}

footer {
  color: grey;
  font-size: small;
}

.sphx-glr-download-link-note.admonition.note {
  visibility: hidden;
  margin: -2.5em;
}

.wy-nav-top a {
  color: #fff !important;
  font-weight: 700;
}

.wy-nav-top {
  background: #aa0044;
}

.highlight .k, .highlight .kc, .highlight .kn, .highlight .nb, .highlight .ow {
  color: #aa0044;
  font-weight: bold;
}

.highlight .nn, .highlight .nf, .highlight .nd, .highlight .fm {
  color: #6886b3;
  font-weight: bold;
}

.highlight .s2, .highlight .sa {
  color: #D58952;
}

.highlight .c1 {
  color: #aaacac;
  font-style: italic;
}

.highlight .mi, .highlight .mf {
  color: #80b859;
}

.highlight .ne {
  color: #F06DAB;
  font-weight: bold;
}

.highlight .sd {
  color: #86532F;
  font-style: italic;
}

.highlight .nc {
  color: #3eb4bf;
  font-weight: bold;
}

.rst-content .viewcode-back, .rst-content .viewcode-link {
  color: #5aa2a2;
  font-size: 80%;
}

a[class*='sphx-glr-backref-'] {
  color: inherit !important;
}

.wy-breadcrumbs li.wy-breadcrumbs-aside {
  float: right;
  font-size: small;
}

.sphx-glr-script-out .highlight pre {
  background-color: #f9f3f3;
}
.matdata{
padding-top: 16px; 
padding-bottom: 16px; 
}
